<mat-toolbar class="footer">
    <div>
    <span>About</span>
    <ul>
        <li>Location and hours</li>
        <li>Employment</li>
        <li>People</li>
    </ul>
    </div>
    <div>
        <span>Contact Us</span>
        <ul>
            <li>Phone Number <br>
            <p>+1 (123) 456 7890</p></li>
            <li>Email <br>
            <p>email@online-shop.com</p></li>
        </ul>
    </div>
    <div>
        <p class="subscribe-footer">KEEP UP TO DATE WITH OUR LATEST NEWS AND SPECIAL OFFERS</p>
        <input matInput type="email" color="primary" placeholder="Your email address">
        <button mat-raised-button color="accent">SUBSCRIBE</button>
    </div>
</mat-toolbar>
