/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

#nav-logo {
    float: left;
}

.nav-links {
    float: right;
    position: absolute;
    right: 50px;
}
